* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}

body {
    width: 100vW;
    height: 100vH;
    overflow: hidden;
    background-image: linear-gradient(
        to top, 
        rgba(22, 77, 33, 1), 
        rgba(207, 248, 112, 1));
    background-position: center center;
    background-size: cover;
}

.root {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100%;
}


.view-0 {
    position: relative;
    overflow: hidden;
    padding: 20px;
    width: 1400px;
    height: 700px;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
}

.view-1 {
    position: relative;
    overflow: hidden;
    padding: 20px;
    width: 1400px;
    height: 700px;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
}

.view-2 {
    position: relative;
    overflow: hidden;
    padding: 20px;
    width: 1400px;
    height: 700px;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
}

.view-3 {
    position: relative;
    overflow: hidden;
    padding: 20px;
    width: 1400px;
    height: 700px;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
}

.sound {
    z-index: 101;
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    top: 0px;
    left: -80px;
    width: 120px;
    height: 100px;
    padding: 20px;
    font-size: 1.2rem;
    font-family: Pangolin;
    letter-spacing: 2px;
    color: #fff;
    background-color: transparent;
    border: none;
    box-shadow: inset 0px -1px 0px 1px #5868ad,
                inset 0px 0px 1px 1px #ffffff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: 0.5s left;
}

.sound-state {
    position: relative;
    width: 50px;
    height: 50px;
    padding: 5px;
    border-radius: 50%;
    background-color: transparent;
    border: none;
    box-shadow: inset 0px -1px 0px 1px #5868ad,
                inset 0px 0px 1px 1px #ffffff; 
    cursor: pointer;
    transition: all 0.3s;
}

.sound.play .sound-state{
    transform: rotate(-45deg); 
}

.sound-state::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    height: 40px;
    background-color: #fff;
    width: 5px;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.sound-state::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    height: 40px;
    background-color: #fff;
    width: 5px;
    transform: translate(-50%, -50%) rotate(45deg);
}

.sound-title {
    position: absolute;
    right: 10px;
    transform: rotate(-90deg) translateY(50%);
}

.sound:hover {
    left: 0px;
}

.informator{
    display: flex;
    width: 400px;
    height: 200px;
    align-items: flex-end;
    justify-content: space-between;
}

.informator_avatar {
    height: 100%;
    max-height: 200px;
    width: 100px;
    background: url('../assets/image/cat.png') center bottom / contain no-repeat;
}

.informator_avatar img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: bottom left;
}

.informator_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 300px;
    height: 100%;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    overflow: hidden;

}

.informator_text {
    width: 100%;
    height: auto;
    overflow-y: auto;
    margin-bottom: 10px;
}

.informator_text p {
    margin-bottom: 10px;
    font-size: 18px;
    font-family: Pangolin;
    color: #452000;
}

.informator_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 150px;
    max-width: 100%;
    height: 40px;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.2rem;
    font-family: Pangolin;
    letter-spacing: 2px;
    color: #fff;
    background-color: transparent;
    border: none;
    box-shadow: inset 0px -1px 0px 1px #5868ad,
                inset 0px 0px 1px 1px #ffffff;
}

.informator_btn:hover{
    background-color: rgba(255,255,255,1);
    cursor: pointer; 
    color: #1846fc;
    transition: all 0.3s;
    box-shadow: inset 0px -1px 1px 1px #3d497c,
                inset 0px 0px 0px 1px #dce3ff;
}

.watering-can {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 100;
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 200px;
    height: 200px;
    background-image: url('../assets/image/watering-can_stand.png');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: filter 0.2s; 
}

.watering-can p {
    margin-left: 70px;
    margin-top: 20px;
    color: #fff;
    font-size: 1rem;
    font-family: Pangolin;
    width: auto;
}

.watering-can.moving{
    cursor: pointer;
    z-index: 100;
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 200px;
    height: 200px;
    background-image: url('../assets/image/watering-can_water.png');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: filter 0.2s; 
}

.watering-can .splashes {
    display: none;
    position: absolute;
    bottom: -10px;
    left: -50px;
    width: 70px;
    height: 70px;
    background: url('../assets/image/splash.gif') center center/ contain no-repeat;
}

.watering-can.active .splashes {
    display: flex;
    position: absolute;
    bottom: -10px;
    left: -50px;
    width: 70px;
    height: 70px;
    background: url('../assets/image/splash.gif') center center/ contain no-repeat;
}

.cloud-wrapper {
    z-index: 99;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    right: 0px;
    top: 0px;
    width: auto;
    height: auto;
}

.cloud {
    width: 250px;
    height: 150px;
    background: url("../assets/image/cloud.png") center center/ 100% 100% no-repeat;
    cursor: pointer;
}

.cloud-wrapper.active .rain {
    display: flex;
    position: absolute;
    top: 100%;
    width: 100%;
    height: 300px;
    background: url("../assets/image/rain.gif") center top/ contain no-repeat;
}

.rain {
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;
    height: 300px;
    background: url("../assets/image/rain.gif") center top/ contain no-repeat;
}

.highlight{
    filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.9));
}

.pot {
    position: absolute;
    height: 100px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url('../assets/image/plant.png');
    background-position-x: 0%;
    background-position-y: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    filter: drop-shadow(0px 5px 2px rgba(57, 45, 47, 0.8));
}

.pot[data-stage='first'] {
    background-position-x: 33.3%;
}
.pot[data-stage='second'] {
    background-position-x: 66.6%;
}
.pot[data-stage='third'] {
    background-position-x: 100%;
}

.pot p {
    margin-bottom: 5px;
    color: #fff;
    font-size: 1rem;
    font-family: Pangolin;
    width: auto;
}

.basket {
    position: absolute;
    display: flex;
    background: url("../assets/image/basket-optimized.webp") center center/ contain no-repeat;
    justify-content: center;
    min-width: 80px;
    min-height: 80px;
    padding: 10px;
    filter: drop-shadow(0px 5px 2px rgba(57, 45, 47, 0.8));
    cursor: pointer;
}

.basket-title {
    opacity: 0;
    position: absolute;
    bottom: -30px;
    font-size: 18px;
    font-family: Pangolin;
    padding: 3px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    color: #452000;
    transition: opacity 0.3s;
}

.basket:hover .basket-title{
    opacity: 1;
}

.fruit {
    width: 80px;
    height: 80px;
    margin-right: 20px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    transition: 0.3s all;
    cursor: pointer
}

.fruit:hover{
    transform: scale(1.1);
    background-color: rgba(255, 255, 255, 0.9);
}

.basket .fruit {
    margin-right: 0px;
    width: 60px;
    height: 60px;
    background-color: transparent;
}

.fruit-container {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    width: auto;
    height: auto;
}

.rainbow {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('../assets/image/rainbow-optimized.webp') center center/ contain no-repeat;
}

.congrats {
    position: absolute;
    padding: 20px;
    top: 30%;
    right: 5%;
    width: 400px;
    max-height: 400px;
    height: auto;
    font-size: 24px;
    font-family: Pangolin;
    font-style: italic;
    color: #452000;
    letter-spacing: 2px;
    background-color: rgba(255,255,255, 0.9);
    border-radius: 10px;
}

.harvest {
    cursor: pointer;
    width: 150px;
    height: 150px;
    position: absolute;
    top: 480px;
    left: 460px;
    background: url('../assets/image/harvest.png') center center/ contain no-repeat;
}

.envelope {
    z-index: 100;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 532px;
    left: -11px;
    background: url('../assets/image/envelope.png') center center/ contain no-repeat;
    transition: all 0.3s;
    cursor: pointer;
}

.envelope:hover{
    transform: scale(1.1) rotate(90deg);
}